.row {
    float: left;
}

@media only screen and (min-width: 640px) {
    .col {
        min-width: 25%;
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .col {
        width: 6.25%;
    }
}

@media only screen and (min-width: 1000px) {
    .col {
        align-content: center;
    }
}

.first-section {
    background-color: yellow;
    margin-top: 1px;
}
